<% layout("/layouts/boilerplate.ejs") -%>

  <body>
    <div class="home">
      <div><i class="fa-regular fa-compass logo"></i></div>
      <!-- <div class="logo">
      <img src="/images/logo.png" alt="logo">
    </div> -->
      <div class="slogan mb-3 mt-3">
        <h2><b>WanderLust,
            Where your next adventure begins</b></h2>
      </div>
      <div class="about mb-2 mt-2">
        <p>Powerful, seamless, and adventure-ready travel platform.<br> Discover unique stays, explore hidden gems</p>
      </div>
      <button class="btn nav-btn mb-3"><a href="/allListings"><b>Explore</b></a></button>
    </div>
  </body>
