<% layout('/layouts/boilerplate.ejs')-%>

  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>
      <form method="post" action="/allListings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" class="form-control" name="listing[title]" placeholder="eg: Beach House"
            required>
          <div class="invalid-feedback">
            Please provide a title for your listing.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">DESCRIPTION</label>
          <textarea type="text" id="description" class="form-control" name="listing[description]"
            placeholder="enter description" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid short description.
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">UPLOAD IMAGE</label>
          <input type="file" id="image" class="form-control" name="listing[image]" required>
          <div class="invalid-feedback">
            please provide a valid image url.
          </div>
        </div>

        <div class="row ">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">PRICE</label>
            <input type="number" id="price" class="form-control" name="listing[price]" placeholder="eg:5000" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid price.
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">COUNTRY</label>
            <input type="text" id="country" class="form-control" name="listing[country]" placeholder="eg:India"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please provide a valid country name.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">LOCATION</label>
          <input type="text" id="location" class="form-control" name="listing[location]" placeholder="enter location"
            required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid location.
          </div>
        </div>

        <button class="btn add-btn">Add</button>
      </form>
    </div>
  </div>